<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>v-if,v-show</title>
	<script src="./vue.js" type="text/javascript">
		
    </script>
    <!-- 2.自定义两组样式，来控制 transition 内部的元素实现动画 -->
    <style>
        .v-enter,
        .v-leave-to{
          opacity: 0;  
          transform: translateX(150px);
        }

        .v-enter-active,
        .v-leave-active{
            transition: all 0.8s ease;
        }


        .my-enter,
        .my-leave-to{
          opacity: 0;  
          transform: translateY(80px);
        }

        .my-enter-active,
        .my-leave-active{
            transition: all 0.8s ease;
        }


    </style>
</head>
<body>
	<div id="app">
        <input type="button" value="切换" @click="flag=!flag">
        <!-- 需求： 点击按钮，让h3显示，让h3隐藏 -->
        
        <!-- 1、使用trsnsition 元素，把需要被动画控制的元素，包裹起来 -->
        <!-- transition 元素 ，是vue官方提供的 -->
        <transition> 
            <h3 v-if="flag">这是一个H3</h3>
        </transition>


        <hr>

        <input type="button" value="切换2" @click="flag2=!flag2">
        <!-- 需求： 点击按钮，让h3显示，让h3隐藏 -->
        
        <!-- 1、使用trsnsition 元素，把需要被动画控制的元素，包裹起来 -->
        <!-- transition 元素 ，是vue官方提供的 -->
        <transition  name="my"> 
            <h6 v-if="flag2">这是一个H6</h6>
        </transition>



       
	</div>
	
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
                flag:false,
                flag2:false
			},
			methods:{
				
			}
		})
	</script>
</body>
</html>

